/**!
 * illarion CSS
 */
 
/* main */

.col.menu-item {
	text-align: center;
}

.home {
	background: #000;
}

#imageCarousel .slick-list .slick-track .slick-slide img {
	display: inline;
}

#imageCarousel.slick-dotted.slick-slider {
	margin-bottom: 0;
}

#imageCarousel .slick-dots {
	bottom: 25px;
}

@media (min-width: 420px) and (max-width: 767px) {
	.text-sm-center-only {
		text-align: center!important;
	}
}

.navbar-toggler {
	border: 1px solid #ddc687;
	border-radius: 0.25rem;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(221, 198, 135, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.huge-illarion {
	font-size: 400%;
}

.slick-track {
	padding-top: 3rem;
}

@media screen and (min-width: 768px) {
	.slick-track {
		padding-bottom: 3rem;
		background: linear-gradient(to bottom, black 0%, black 100%) no-repeat;
		background-size: 100% 50%;
		background-position: bottom;	
	}

	.slick-active {
		transition:1s ease-in-out;
	}

	.slick-center {
		-webkit-transform: scale(1.25);
		-moz-transform: scale(1.25);
		transform: scale(1.25);
	}
}

.frontpage-background {
	background-image: url("../images/frontback_high.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

@media (min-aspect-ratio: 4/3) {
	.frontpage-background {
		background-image: url("../images/frontback.jpg");
	}	
}

.text-illarion {
	color: #ddc687;
}

a {
	color: #ddc687;
}

a:hover {
	color: #fff;
}

.large {
	font-size: 115%;
}

.text-primary {
	color: #ddc687!important;
}

.paperback {
	background: transparent url("../images/paper_big.jpg") scroll no-repeat;
	background-position: center center;
	background-size: cover;
}

.paperback-small {
	background: transparent url("../images/paper_small.jpg");
}

.carousel-inner .carousel-item {
	transition: -webkit-transform 2s ease;
	transition: transform 2s ease;
	transition: transform 2s ease, -webkit-transform 2s ease;
}

.btn-illarion,
.btn-illarion:visited,
.btn-illarion:focus {
	background-color: #97815a;
	border-color: #ffe6a2;
	border-radius: 0;
	outline: none;
}

.btn-illarion-top:hover,
.btn-illarion-top:active {
	background-color: #97815a;
	border-color: #ffe6a2;
	border-radius: 0;
	box-shadow: none;
	outline: none;
}


.no-padding {
	padding: 0;
}

.row-border-bottom {
	border: solid transparent;
	border-width: 0 0 3px;
	border-image: 3 repeat url("../images/bar.jpg");
}

.row-border-top {
	border: solid transparent;
	border-width: 3px 0 0;
	border-image: 3 repeat url("../images/bar.jpg");
}

.row-border {
	border: solid transparent;
	border-width: 3px 0 3px;
	border-image: 3 repeat url("../images/bar.jpg");
}

body {
	background-image: url("../images/background.jpg");
	background-position-x: 0px;
	background-position-y: 0px;
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
	background-attachment: fixed;
	background-color: #000;
}

.site-header-image {
	display: block;
	margin: auto;
}	

.wp-caption {}
.wp-caption-text {}
.sticky {}
.screen-reader-text {}
.gallery-caption {}

.bypostauthor {}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	clear: both;
	display: block;
}

.navbar-collapse {
	flex-grow: 0;
	font-size: 25px;
}

.dropdown-item {
	font-size: 25px;
}

.nav-link.dropdown-toggle::after {
	content: none;
}

.navbar-brand {
	font-size: 40px;
}

.navbar {
	font-family: "cabazon", serif;
	font-style: normal;
	font-weight: 400;
}

/* Max img widths */

img,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

/* Responsive Container (because Bootstrap 4.0.0 doesn't have this) */

.container-responsive {
	width: 100%;
	max-width: 1140px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.navbar > .container-responsive {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-responsive {
	padding-right: 0;
	padding-left: 0;
}
.navbar > .container,
.navbar > .container-responsive {
	max-width: 1110px;
}

/* Author bio */

.author-bio .avatar {
	border: 1px solid #dee2e6;
	border-radius: 50%;
}

/* Main content */

/* Sidebar */

/* Hide form placeholders on focus */

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */

/* Comments */

#comments,
#reply-title {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.commentlist,
.commentlist ul {
	padding-left: 0;
}

.commentlist li {
	padding: 1rem;
}

.comment-meta {
	margin-bottom: 1rem;
}
.commentlist .children {
	margin-top: 1rem;
}


/* Site footer */
